<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script type="text/javascript" src="/js/jquery-1.12.0.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/styleB.css">
       
        <link rel="stylesheet" href="/css/fontawesome-all.css">

        <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.css">

        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">

        <link rel="stylesheet" href="/css/aos.css">

        <link rel="stylesheet" href="/css/ionicons.min.css">

        <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="/css/jquery.timepicker.css">


        <link rel="stylesheet" href="/css/flaticon.css">
        <link rel="stylesheet" href="/css/icomoon.css">
        <link rel="stylesheet" href="/css/style.css">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
        <script src = "/ckeditor/ckeditor.js"></script>
        <link rel="stylesheet" type="text/css" href="/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css">


        <script type="text/javascript" src='/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js'>

        </script>
        <link rel="stylesheet" href="/css/bootstrap-tagsinput.css">

    </head>
    <body>
        <div id="colorlib-page">
            <a href="" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
            <aside id="colorlib-aside" role="complementary">
                {{#if msg}}
                {{#if msg.error}}
                <div class="form-group">
                    <div class="label label-danger" style="font-size: 16px">
                        {{msg.error}}
                    </div>
                </div>
                {{/if}}
                {{#if msg.info}}
                <div class="form-group">
                    <div class="label label-success" style="font-size: 16px">
                        {{msg.info}}
                    </div>
                </div>
                {{/if}}
                {{/if}}

                <nav id="colorlib-main-menu" role="navigation">
                    <ul>
                        <li class="colorlib-active"><a href="/">Inicio</a></li>
                        <li><a href="/">Noticias</a></li>
                        <li><a href="/">Informacion</a></li>
                        <li><a href="/">Contacto</a></li>
                    </ul>
                </nav>
            </aside> <!-- END COLORLIB-ASIDE -->
            <div id="colorlib-main">

                <section class="ftco-section ftco-no-pt ftco-no-pb">

                    <div class="container">

                        <div class="row d-flex">
                            {{#if ask}}
                            {{> verPregunta}}
                            {{else}}
                            {{#if aske}}
                            {{> pregunta_editar}}
                            {{else}}
                            <div class="col-xl-8 py-5 px-md-5">
                                <h2 style="font-size: 35px"> Formular una pregunta </h2><br>
                                <form method="POST" class="search-form" action="/guardarPregunta" >
                                    <div class="form-group">
                                        <label class="label" style="color: black; font-size: 25px"> Título </label>
                                        <input type="text" name="titulo_p" class="form-control" placeholder="¿Cúal es tu pregunta de programación? Sé específico" required/>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <label class="label" style="color: black; font-size: 25px"> Cuerpo </label>
                                        <textarea id="editor1" class="container" name="descripcion_p" required></textarea>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <label class="label" style="color: black; font-size: 25px"> Categoria </label>
                                        <select class="form-control" name="categoria_p" id="cat">

                                        </select>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <style>
                                            .bootstrap-tagsinput{
                                                display: block
                                            }
                                            
                                        </style>
                                        <label class="label" style="color: black; font-size: 25px"> Etiquetas </label>
                                        <br>
                                        <input  type="text" name="etiquetas" id="etiquetas" class="form-control " placeholder="ej. (jquery, javascript, node)" data-role="tagsinput"/>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Publicar tu Pregunta"/>
                                        <a href="/" class="btn btn-danger btn-lg">CANCELAR</a>
                                    </div>

                                </form>
                            </div>
                            <div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
                                {{> busqueda}}
                                <div class="ayura">
                                    <b>COMO PREGUNTAR</b>
                                    <p>
                                        Preferimos preguntas que pueden ser respondidas, no simplemente debatidas.<br>

                                        Proporciona detalles. Comparte lo que ya sabes.
                                    </p>
                                </div>

                                {{> categorias}}
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Nube de tags</h3>
                                    <ul class="tagcloud">
                                        <a href="http://localhost:567/search?texto=sql&criterio=etiquetas" class="tag-cloud-link">sql</a>
                                        <a href="http://localhost:567/search?texto=nosql&criterio=etiquetas" class="tag-cloud-link">nosql</a>
                                        <a href="http://localhost:567/search?texto=node&criterio=etiquetas" class="tag-cloud-link">node</a>
                                        <a href="http://localhost:567/search?texto=java&criterio=etiquetas" class="tag-cloud-link">java</a>
                                        <a href="http://localhost:567/search?texto=c%2B%2B&criterio=etiquetas" class="tag-cloud-link">c++</a>
                                        <a href="http://localhost:567/search?texto=python&criterio=etiquetas" class="tag-cloud-link">python</a>
                                        <a href="http://localhost:567/search?texto=pascal&criterio=etiquetas" class="tag-cloud-link">pascal</a>
                                        <a href="http://localhost:567/search?texto=javascript&criterio=etiquetas" class="tag-cloud-link">javascript</a>
                                    </ul>
                                </div>
                                <div class="sidebar-box ftco-animate">
                                    <h3 class="sidebar-heading">Mensaje del dia</h3>
                                    <p>Vas a caer chupetin trujillo</p>
                                </div>
                            </div><!-- END COL -->
                            {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </section>

            </div><!-- END COLORLIB-MAIN -->
        </div><!-- END COLORLIB-PAGE -->
        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.easing.1.3.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/jquery.stellar.min.js"></script>

        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>

        <script src="/js/aos.js"></script>
        <script src="/js/jquery.animateNumber.min.js"></script>
        <script src="/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="/js/google-map.js"></script>
        <script src="/js/main.js"></script>
        <script>CKEDITOR.replace('editor1');</script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="/js/bootstrap-tagsinput.js"></script>
        <script src="/js/utilidad/categoria_lateral.js"></script>
        <script src="/js/utilidad/utilidades.js"></script>
        <script>
            $(document).ready(function () {
                $("#categoria_p_e").val("{{preg.id_categoria}}");
                $("#categoria_p_e").change();

                $("#ccnc").click(function () {
                    $(document.getElementById("ccnc")).css({display: 'none'});
                    $(document.getElementById("com")).css({display: 'table'});

                });

                $("#sccc").click(function () {
                    $(document.getElementById("ccnc")).css({display: 'block'});
                    $(document.getElementById("com")).css({display: 'none'});
                });

                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus');
                });
            });
            
            
        </script>
        <script>
   
                function fade(elemeto){
                    $("#"+elemeto).addClass('fade');
                }
    
    </script>
    </body>
</html>