<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
    </head>
    <body>

        <div class="limiter">
            <div class="container-login100" style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5bdd2f7d-1984-45d7-b33a-81b4fd7321b8/dbjr7m9-2cb29e23-4655-4f78-8702-1e6cda5d7fb8.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzViZGQyZjdkLTE5ODQtNDVkNy1iMzNhLTgxYjRmZDczMjFiOFwvZGJqcjdtOS0yY2IyOWUyMy00NjU1LTRmNzgtODcwMi0xZTZjZGE1ZDdmYjguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Y7Hxw40ZldpUZr0YCKOhQzH0KjCmLRPndGHsGrP0lbU');">
                <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                    <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/inicio_sesion">
                        <span class="login100-form-title p-b-53">
                            Inicia Sesion con:
                        </span>

                        <a href="/login/facebook" class="btn-face m-b-20">
                            <i class="fa fa-facebook-official"></i>
                            Facebook
                        </a>

                        <a href="/auth/google" class="btn-google m-b-20">
                            <img src="images/icons/icon-google.png" alt="GOOGLE">
                            Google
                        </a>
                        <div class="container">
                            {{#if msg}}
                            {{#if msg.error}}
                            
                                <div class="alert alert-danger " style="font-size: 16px">
                                    {{msg.error}}
                                </div>
                            
                            {{/if}}
                            {{#if msg.info}}
                            
                                <div class="alert alert-success" style="font-size: 16px">
                                    {{msg.info}}
                                </div>
                            
                            {{/if}}
                            {{/if}}
                        </div>
                        
                        <div class="p-t-31 p-b-9">
                            <span class="txt1">
                                Nombre de Usuario
                            </span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate = "Debes poner tu nombre de usuario">
                            <input class="input100" type="text" name="username" >
                            <span class="focus-input100"></span>
                        </div>

                        <div class="p-t-13 p-b-9">
                            <span class="txt1">
                                Contrasena
                            </span>

                            <a href="#" class="txt2 bo1 m-l-5">
                                Olvidaste tu contrasena?
                            </a>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate = "No puedes iniciar sesion sin contrasena">
                            <input class="input100" type="password" name="pass" >
                            <span class="focus-input100"></span>
                        </div>
                        {{#if msg}}
                        {{#if msg.error}}
                        <div class="form-group">
                            <div class="label label-danger" style="font-size: 16px">
                                {{msg.error}}
                            </div>                        
                        </div>
                        {{/if}}
                        {{#if msg.info}}
                        <div class="form-group">
                            <div class="label label-success" style="font-size: 16px">
                                {{msg.info}}
                            </div>                        
                        </div>                  
                        {{/if}}
                        {{/if}}
                        <div class="container-login100-form-btn m-t-17">
                            <button class="login100-form-btn">
                                Ingresar
                            </button>
                        </div>

                        <div class="w-full text-center p-t-55">
                            <span class="txt2">
                                Aun no te has registrado?
                            </span>

                            <a href="/registro" class="txt2 bo1">
                                Registrate AHORA!!!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="dropDownSelect1"></div>

        <script src="js/main.js"></script>

    </body>
</html>
